<h1>Listing users</h1>
<%= paginate @users  %>
<table class="table-bordered table-striped">
  <thead>
    <tr>
      <th >User Name</th>
      <th >First Name</th>
      <th >Last Name</th>
      <th >Title</th>
      <th >Imagie</th>
        <th >Action</th>
    </tr>
  </thead>

  <tbody class="user_index">
    <%= render 'index' %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
